@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_User.cshtml";
}
<img src="~/images/bf.jpg" height="250" />
<address>
    96/2 2rd cross <br/>
    venkateshwara layout<br/>
    M.G.road,Bangalore<br/>
    <abbr title="phone">phone no:</abbr>
    7892505224
</address>
<address>
    <strong>Support:</strong> <a href="mailto:narendranaren881@gmail.com">narendranaren881@gmail.com</a><br />
    <strong>Developer:</strong> <a href="mailto:snehajr20@gmail.com">snehajr20@gmail.com</a><br />
    <strong>Info:</strong> <a href="mailto:gokavivikas1436@gmail.com">gokavivikas1436@gmail.com</a>
</address>
